/* applied to original <select> to hide */
.has_sb{position:absolute;left:-999999em;text-indent:-999999em;}

/* always visible styles */
.selectbox{display:inline-block;*display:inline;font-family:"calluna sans",arial, "sans-serif";font-size:1em;position:relative;vertical-align:middle;zoom:1;}
.selectbox .display{
  background:#f5f5f5;
  border:1px solid #abadb3;
  color:#000;
  cursor:default;
  display:block;
  font-weight:normal;
  height:1.46em;
  line-height:1.46em;
  overflow:hidden;
  outline:none;
  /*padding:0 24px 0 3px;*/
  position:relative;
  text-decoration:none;
  overflow:hidden;
}
.selectbox.disabled .display{color:#999;}/* background-color:#3399ff;color:#fcfcfc; */
.selectbox.focused .display .text {font-family:"calluna sans",arial, "sans-serif";background-color:#3399ff;color:#fcfcfc; *display:inline;zoom:1;}
.selectbox.focused.filterOrder .display .text {background-color: #a2a2a2;}

.selectbox .display.active{border-color:#7b7d83;}
.selectbox .display .arrow_btn{
   background-color:#f5f5f5;/*rgba(0,0,0,.5)*/
    /*border:1px solid #707070;*/
    display:block;
    height:1.4em;
    line-height:.92em;
    padding:1px;
    position:absolute;
    right:0;
    text-align:center;
    top:0;
    width:1.1em;
    
}
.selectbox .display .arrow_btn .arrow{
    background:transparent url(../../Images/alignView/select_arrow.gif) no-repeat center center;
    display:inline-block;*display:inline;
    height:7px;
    left:.4em;
    position:absolute;
    top:.5em;
    width:7px;
    zoom:1;
}
.selectbox .display.active .arrow_btn{
    /*-moz-box-shadow:inset 0 0 1px 1px #9eb0ba;
    -webkit-box-shadow:inset 0 0 1px 1px #9eb0ba;*/
}
.selectbox .display.hover .arrow_btn{background-color:#dbdbdb;}
.selectbox .value{display:none;}

/* dropdown styles */
.selectbox.items{
  background:#fff;
  border:1px solid #828790;
  display:block;
  font-family:arial;
  font-size:1em;
  list-style-type:none;
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0 0 1px 0;
  z-index:99999;
  /*-moz-box-shadow:0 3px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,.5);*/
}
.selectbox.items.above{}
.selectbox.items li{display:block;margin:0;padding:0;/*white-space:nowrap; maybe necessary if using fixedWidth: false */}
.selectbox.items li.first{margin-top:0;}
.selectbox.items li>.item{color:#000;cursor:default;display:block;padding:4px 6px;text-decoration:none;}
.selectbox.items li>.item>.text{display:inline-block;*display:inline;zoom:1;white-space: nowrap;}
.selectbox.items li.selected>.item{border-bottom:1px dotted #999;border-top:1px dotted #999;}
.selectbox.items li.disabled>.item{color:#999;}
.selectbox.items li.hover>.item{background-color:#3399ff;color:#fcfcfc;}
.selectbox.filterOrder.items li.hover>.item{background-color:#a2a2a2;color:#fcfcfc;} 
.selectbox.items .value{display:none;}

/* optgroup styles */
.selectbox.items .optgroup .items{
  border:none;
  margin:0;
  padding:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.selectbox.items .optgroup>.label{cursor:default;font-weight:bold;line-height:1em;}
.selectbox.items .optgroup .items li>.item{padding-left:1em;}

/* easy rounding styles */
.selectbox .round_sb.display{
  padding:2px 26px 2px 5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.selectbox .round_sb.display .arrow_btn{
  right:2px;
  top:2px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.selectbox.round_sb.items{
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.selectbox.round_sb.items>li>a{padding:4px 6px;}
.selectbox.round_sb.items>li.first>.item{
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
}
.selectbox.round_sb.items>li.last>.item{
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
/* for optgroups */
.selectbox.round_sb.items>li>.label{line-height:2.08em;padding:4px 6px;}
.selectbox.round_sb.items>li>.items li>.item{padding:4px 6px 4px 12px;}

/* fixed width example styles */
.selectbox .display.fixed_width{
  width:73px;
  padding:0 24px 0 3px;
}

.selectbox.fixed_width.items{
  width:100px; /* width of display text plus the padding (60 + 27) = 87 */
}

.selectbox .display.fixed_width2{
  width:60px;
  padding:0 24px 0 3px;
}

.selectbox.fixed_width2.items{
  width:300px; /* width of display text plus the padding (60 + 27) = 87 */
}

.customSelect {width: 112px;}

.selectbox .text {font-family:"calluna sans",arial, "sans-serif"; font-size: 12px !important;padding:1px 0px 0px 6px;}

ul.selectbox.filterNames {width: 130px;}