﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
	
	<link href="<%= Url.Content("~/Content/css/nanoscroller.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Url.Content("~/Content/bootstrap/css/bootstrap.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Url.Content("~/Content/bootstrap/css/responsive.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Url.Content("~/Content/css/bootstrap_customized.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= Url.Content("~/Content/css/style.css") %>" rel="stylesheet" type="text/css" />

    <script src="<%= Url.Content("~/Scripts/rangy/rangy-core.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery-1.7.2.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/vvv/javascript-debug/ba-debug.min.js") %>" type="text/javascript"></script>
	<script src="<%= Url.Content("~/Scripts/bootstrap.min.js") %>" type="text/javascript"></script>
	<script src="<%= Url.Content("~/Scripts/vvv/underscore/underscore-min.js") %>" type="text/javascript"></script>

    <script src="<%= Url.Content("~/Scripts/jquery.form.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.simplemodal.1.4.1.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.simpleCombo.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.blockUI.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/vvv/nanoScroller/jquery.nanoscroller.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.validate.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/MicrosoftAjax.js") %>" type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/MicrosoftMvcAjax.js") %>" type="text/javascript"></script>
    <%--<script src="<%: Url.Content("~/Scripts/jquery-ui.min.js") %>" type="text/javascript"></script>--%>

    <script src="<%= Url.Content("~/Scripts/Prism.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/EblaDefs.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/json2.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/sorttable.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/flot/jquery.flot.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/flot/jquery.flot.navigate.js") %>"  type="text/javascript"></script>
    <script src="<%= Url.Content("~/Scripts/flot/jquery.flot.selection.js") %>"  type="text/javascript"></script>
	
    <script src="<%= Url.Content("~/Scripts/jquery.cookie.js") %>" type="text/javascript"></script>

	<script src="<%= Url.Content("~/Scripts/vvv/vvv.jquery.js") %>" type="text/javascript"></script>
	<script src="<%= Url.Content("~/Scripts/vvv/main.js") %>"  type="text/javascript"></script>
    
    <script src="<%= Url.Content("http://use.typekit.com/dzz7kgb.js") %>" type="text/javascript"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33080583-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="150">
	<div class="wrapper">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				
		          	<a class="brand" href="#">VVV</a>
				  	<!-- renders bootstrap pulldown -->
		          	<% Html.RenderPartial("LogOnUserControl"); %>
				
		          	<div class="nav-collapse collapse">
		            	<ul class="nav">
		             		<li class=""><%: Html.ActionLink("Home", "Index", "Home")%></li>
							<li class=""><%: Html.ActionLink("Project", "Project", "Home")%></li>
					        <li class=""><%:  Html.ActionLink("Corpora", "Index", "CorpusStore") %></li>
		              		<li class=""><%: Html.ActionLink("Credits", "Credits", "Home")%></li>
		              		<li class=""><asp:ContentPlaceHolder ID="HelpMenuItem" runat="server" /></li>
		              		<% if (Request.IsAuthenticated) { %>
		              			<li class=""><a href="<%: Url.Action("Feedback", "Home") %>"><i class="icon-comment icon-white"></i> Give Feedback</a></li>
		              		<% } %>
		            	</ul>
		          	</div><!--/.nav-collapse -->
                    <div class="nav-collapse pull-right">
                        <ul class="nav">
                        <% if (Prism.Controllers.CorpusController.GetActiveCorpus().Length > 0)
                           { %>
		             		<li class=""><%: Html.ActionLink("Corpus", "Index", "Corpus", new { CorpusName = Prism.Controllers.CorpusController.GetActiveCorpus() }, new { id = "corpus-menu-button", title = Prism.Controllers.CorpusController.GetCorpusCaption()  })%></li>
                            <% } %>
                        </ul>
                    </div>
				</div>
			</div>
	    </div>
        <div class="container body-content">
            <% Html.RenderPartial("Alerts"); %>
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>
    </div>

        <div id="modal">
            <div id="modalCaption">
            </div>
            <img src="<%= Url.Content("~/Content/close.png") %>" alt="Close" title="Close" class="modalCrossIcon" />
            <% using (Html.BeginForm("", "", FormMethod.Post, new { id = "modalForm", enctype = "multipart/form-data" }))
                { %>
            <div id="modalContent">
            </div>
            <div id="modalFooter">
                <input id="modalOk" type="submit" />
                <input id="modalCancel" type="button" />
            </div>
            <% } %>
        </div>
    <input id="siteUrl" type="hidden" value="<%= Url.Content("~") %>" />
</body>
</html>
